.container{
    width: 90%;
    height: 650px;
    margin: auto 0;
    border: 3px solid #000000;
    border-radius: 50px;
    background-color: #fff; 
    display: flex;
    margin: 5% auto;
}
.text_memo{
    font-size: 30px;
    left: 5%;
    top: 1%;
}