.vt{
/* border: 2px solid black; */
width: 20%;
height: 50%;
text-align: center;
line-height: 50%;
display: inline-block;
margin-left: 30px;
}

h3{
font-weight: 400;
}

.line{
height: 3px;
background-color: azure;
width: 85%;
margin: auto;
}

p{
font-size: 40px;
font-weight: 900;
}

#main_line{
background-color: black;
height: 5px;
width: 95%;
margin: auto;
margin-bottom: 20px;
}

h3{
font-weight: 500;
}

html {
background: url("https://t1.daumcdn.net/cfile/tistory/99086B3C5B9B75C431") no-repeat center center fixed;
-webkit-background-size: cover;   
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
mix-blend-mode: normal; 
}

#blank{
margin: 30px auto;
padding: auto;
}

footer{
    font-size: 100px;
    text-align: center;
    font-weight: 600;
    margin: auto;
    margin-top:0px;
}

img{
    width: 60%;
}

.alert-box {
    background-color: rgb(255, 215, 180);
    margin: 10px 10px 10px 10px;
    padding: 20px;
    color: black;
    border-radius: 20px;
    display: block;
    bottom : 0px;
    position:absolute;
    right: 0px ;
}  
